

header {
    height: 250px;
}

nav {
    height: 70px;
    /* debug */
    background-color: teal;
}

#title-page {
    height: 180px;
    /* debug */
    background-color: turquoise;
}

/* jumbotron */
#jumbotron {
    margin-bottom: 70px;
}
#title-jmb {
    height: 70px;
    text-align: center;
}

#jumbotron .color {
    background-color: blueviolet;
    border: solid black 1px;
}

.items-jumbotron {
    height: 250px;
}

/* about */

#about {
    height: 250px;
    background-color: crimson;
}

#about .color {
    background-color: cornflowerblue;
    height: 250px;
    border: solid 1px black;
}



